<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/head.ejs") -%>
  </head>
  <body>
    <main>
      <section class="teacherInfo">
        <section class="teacherDetail">
          <h2 class="teacherName">
            <%- document.data.naam[0].text %> <%-
            document.data.achternaam[0].text %>
          </h2>
          <img class="teacherImage" src="<%- document.data.foto.url %>" />

          <% if(document.data.email.length > 0){ %>
          <h3>Email</h3>
          <p><%- document.data.email[0].text -%><% } %></p>

          <% if(document.data.beschrijving.length > 0){ %>
          <h3>Beschrijving</h3>
          <p><%- document.data.beschrijving[0].text -%><% } %></p>

          <% if(document.data.dagen_aanwezig.length > 0){ %>
          <h3>Beschikbaar op</h3>
          <p><%- document.data.dagen_aanwezig[0].text -%><% } %></p>

          <% if(document.data.specaliteit.length > 0){ %>
          <h3>Specaliteit</h3>
          <p><%- document.data.specaliteit -%><% } %></p>

          <% if(document.data.hobbies.length > 0){ %>
          <h3>Hobbies</h3>
          <p><%- document.data.hobbies[0].text -%><% } %></p>

          <% if(document.data.leuk_feitje.length > 0){ %>
          <h3>Feitje</h3>
          <p><%- document.data.leuk_feitje[0].text -%><% } %></p>
        </section>
        <section class="relatedTeachers">
          <h2 class="relatedTeachersTitle">
            Andere <%- document.data.specaliteit %> docenten
          </h2>
          <% teachers.forEach(teacher => { %>

          <a href="" class="teacherLink">
            <div class="images">
              <% if(teacher.docent.data.frame !== null){ %>
              <img
                class="frame"
                src="/images/frames/<%- teacher.docent.data.frame%>.png"
              />
              <% } %>
              <img class="teacher" src="<%- teacher.docent.data.foto.url %>" />
            </div>
            <h4>
              <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
              ctx.prismicH.asText(teacher.docent.data.achternaam) %>
            </h4>
          </a>

          <div class="pop-up hidden">
            <button class="close">
              <div></div>
              <div></div>
              <p>Sluiten</p>
            </button>
            <h2>
              <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
              ctx.prismicH.asText(teacher.docent.data.achternaam) %>
            </h2>
            <div class="popupWrapper">
              <div class="images">
                <img
                  class="teacher"
                  src="<%- teacher.docent.data.foto.url %>"
                />
              </div>
              <div id="info">
                <% if(teacher.docent.data.email.length > 0){ %>
                <h3>Email</h3>
                <p><%- teacher.docent.data.email[0].text -%><% } %></p>

                <% if(teacher.docent.data.telefoon_nummer.length > 0){ %>
                <h3>Telefoonnummer</h3>
                <p>
                  <%- teacher.docent.data.telefoon_nummer[0].text -%><% } %>
                </p>

                <% if(teacher.docent.data.dagen_aanwezig.length > 0){ %>
                <h3>Beschikbaar op</h3>
                <p><%- teacher.docent.data.dagen_aanwezig[0].text -%><% } %></p>

                <% if(teacher.docent.id){ %>
                <a class="moreInfo" href="/detail/<%- teacher.docent.id -%>"
                  >Meer info<% } %></a
                >
              </div>
            </div>
          </div>
          <% }) %>
        </section>
      </section>
      <%- include("./components/keyboard.ejs") -%>
    </main>
    <button class="backButton navButtons" onclick="history.back()">
      Terug
    </button>
    <footer><%- include("./components/footer.ejs") -%></footer>
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
