<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/head.ejs") -%>
  </head>
  <body>
    <main>
      <section class="allTeachers">
        <h2><%-result-%></h2>
        <section class="docenten">
          <% docenten.forEach(teacher => { %>
          <a href="/detail/<%= teacher.docent.id %>" class="teacherLink">
            <div class="images">
              <% if(teacher.docent.data.frame !== null){ %>
              <img
                class="frame"
                alt="<%- teacher.docent.data.frame%> lijstje"
                src="/images/frames/<%- teacher.docent.data.frame%>.png"
              />
              <% } %>
              <img
                class="teacher"
                alt="foto van <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
                ctx.prismicH.asText(teacher.docent.data.achternaam) %>"
                <% if(!teacher.docent.data.foto.url){%>
                  src="/images/no-img.jpg" 
                <% } else { %>
                  src="<%- teacher.docent.data.foto.url %>"
                <% } %>  
              />
            </div>
            <h4>
              <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
              ctx.prismicH.asText(teacher.docent.data.achternaam) %>
            </h4>
          </a>

          <div class="pop-up searchPop-up hidden">
            <button class="close">
              <div></div>
              <div></div>
              <p>Sluiten</p>
            </button>
            <h2>
              <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
              ctx.prismicH.asText(teacher.docent.data.achternaam) %>
            </h2>
            <div class="popupWrapper">
              <img
                class="teacher"
                alt="foto van <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
                ctx.prismicH.asText(teacher.docent.data.achternaam) %>"
                <% if(!teacher.docent.data.foto.url){%>
                  src="/images/no-img.jpg" 
                <% } else { %>
                  src="<%- teacher.docent.data.foto.url %>"
                <% } %>  
              />
              <div id="info">
                <% if(teacher.docent.data.email.length > 0){ %>
                <h3>Email</h3>
                <p><%- teacher.docent.data.email[0].text -%><% } %></p>

                <% if(teacher.docent.data.telefoon_nummer.length > 0){ %>
                <h3>Telefoonnummer</h3>
                <p>
                  <%- teacher.docent.data.telefoon_nummer[0].text -%><% } %>
                </p>

                <% if(teacher.docent.data.dagen_aanwezig.length > 0){ %>
                <h3>Beschikbaar op</h3>
                <p><%- teacher.docent.data.dagen_aanwezig[0].text -%><% } %></p>

                <% if(teacher.docent.id){ %>
                <a class="moreInfo" href="/detail/<%- teacher.docent.id -%>"
                  >Meer info<% } %></a
                >
              </div>
            </div>
          </div>
          <% }) %>
        </section>
      </section>
      <%- include("./components/keyboard.ejs") -%>
    </main>
    <footer>
      <section class="catButtons">
        <a href="/catalog" id="catalogButton">
          <img src="/images/index.png" />Catalogus</a
        >
        <a href="/" id="gridButton"> <img src="/images/grid.png" />Grid</a>
      </section>
      <form method="get" action="/searchFilter" data-search-form>
        <input
          type="search"
          name="q"
          placeholder="Zoek een docent"
          data-search-input
          class="input"
          id="zoek"
          autocomplete="off"
        />
        <button class="submitButton" type="submit" aria-label="zoeken">
          Zoeken
        </button>
      </form>
      <%- include("./components/filter.ejs") -%>
      <nav>
        <button class="scrollButton" onClick="up()">▲ Omhoog</button>
        <button class="scrollButton" onClick="down()">▼ Omlaag</button>
      </nav>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
