<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/overview.css" />
    <title>CMDA Smoelenboek</title>
  </head>
  <body>
    <main>
      <section class="allTeachers">
        <section class="docenten">
          <% docenten.forEach(teacher => { %>
          <a href="" class="teacherLink">
            <div class="images">
              <% if(teacher.data.frame !== null){ %>
              <img
                class="frame"
                src="/images/frames/<%- teacher.data.frame%>.png"
              />
              <% } %>
              <img class="teacher" src="<%- teacher.data.foto.url %>" />
            </div>
            <h4>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h4>
          </a>

          <div class="pop-up hidden">
            <h2>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h2>
            <div class="popupWrapper">
              <div class="images">
                <img class="teacher" src="<%- teacher.data.foto.url %>" />
              </div>
              <div id="info">
                <% if(teacher.data.email.length > 0){ %>
                <h3>Email</h3>
                <p><%- teacher.data.email[0].text -%><% } %></p>

                <% if(teacher.data.telefoon_nummer.length > 0){ %>
                <h3>Beschrijving</h3>
                <p><%- teacher.data.telefoon_nummer[0].text -%><% } %></p>

                <% if(teacher.data.dagen_aanwezig.length > 0){ %>
                <h3>Beschikbaar op</h3>
                <p><%- teacher.data.dagen_aanwezig[0].text -%><% } %></p>

                <% if(teacher.id){ %>
                <a class="moreInfo" href="/detail/<%- teacher.id -%>"
                  >Meer info<% } %></a
                >
              </div>
            </div>
            <button class="close">
              <div></div>
              <div></div>
              <p>Sluiten</p>
            </button>
          </div>
          <% }) %> <% docenten.forEach(teacher => { %>
          <a href="" class="teacherLink">
            <div class="images">
              <% if(teacher.data.frame !== null){ %>
              <img
                class="frame"
                src="/images/frames/<%- teacher.data.frame%>.png"
              />
              <% } %>
              <img class="teacher" src="<%- teacher.data.foto.url %>" />
            </div>
            <h4>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h4>
          </a>

          <div class="pop-up hidden">
            <h2>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h2>
            <div class="popupWrapper">
              <div class="images">
                <img class="teacher" src="<%- teacher.data.foto.url %>" />
              </div>
              <div id="info">
                <% if(teacher.data.email.length > 0){ %>
                <h3>Email</h3>
                <p><%- teacher.data.email[0].text -%><% } %></p>

                <% if(teacher.data.telefoon_nummer.length > 0){ %>
                <h3>Beschrijving</h3>
                <p><%- teacher.data.telefoon_nummer[0].text -%><% } %></p>

                <% if(teacher.data.dagen_aanwezig.length > 0){ %>
                <h3>Aanwezig</h3>
                <p><%- teacher.data.dagen_aanwezig[0].text -%><% } %></p>

                <% if(teacher.id){ %>
                <a class="moreInfo" href="/detail/<%- teacher.id -%>"
                  >Meer info<% } %></a
                >
              </div>
            </div>
            <button class="close">
              <div></div>
              <div></div>
              <p>Sluiten</p>
            </button>
          </div>
          <% }) %> <% docenten.forEach(teacher => { %>
          <a href="" class="teacherLink">
            <div class="images">
              <% if(teacher.data.frame !== null){ %>
              <img
                class="frame"
                src="/images/frames/<%- teacher.data.frame%>.png"
              />
              <% } %>
              <img class="teacher" src="<%- teacher.data.foto.url %>" />
            </div>
            <h4>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h4>
          </a>

          <div class="pop-up hidden">
            <h2>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h2>
            <div class="popupWrapper">
              <div class="images">
                <img class="teacher" src="<%- teacher.data.foto.url %>" />
              </div>
              <div id="info">
                <% if(teacher.data.email.length > 0){ %>
                <h3>Email</h3>
                <p><%- teacher.data.email[0].text -%><% } %></p>

                <% if(teacher.data.telefoon_nummer.length > 0){ %>
                <h3>Beschrijving</h3>
                <p><%- teacher.data.telefoon_nummer[0].text -%><% } %></p>

                <% if(teacher.data.dagen_aanwezig.length > 0){ %>
                <h3>Aanwezig</h3>
                <p><%- teacher.data.dagen_aanwezig[0].text -%><% } %></p>

                <% if(teacher.id){ %>
                <a class="moreInfo" href="/detail/<%- teacher.id -%>"
                  >Meer info<% } %></a
                >
              </div>
            </div>
            <button class="close">
              <div></div>
              <div></div>
              <p>Sluiten</p>
            </button>
          </div>
          <% }) %> <% docenten.forEach(teacher => { %>
          <a href="" class="teacherLink">
            <div class="images">
              <% if(teacher.data.frame !== null){ %>
              <img
                class="frame"
                src="/images/frames/<%- teacher.data.frame%>.png"
              />
              <% } %>
              <img class="teacher" src="<%- teacher.data.foto.url %>" />
            </div>
            <h4>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h4>
          </a>

          <div class="pop-up hidden">
            <h2>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h2>
            <div class="popupWrapper">
              <div class="images">
                <img class="teacher" src="<%- teacher.data.foto.url %>" />
              </div>
              <div id="info">
                <% if(teacher.data.email.length > 0){ %>
                <h3>Email</h3>
                <p><%- teacher.data.email[0].text -%><% } %></p>

                <% if(teacher.data.telefoon_nummer.length > 0){ %>
                <h3>Beschrijving</h3>
                <p><%- teacher.data.telefoon_nummer[0].text -%><% } %></p>

                <% if(teacher.data.dagen_aanwezig.length > 0){ %>
                <h3>Aanwezig</h3>
                <p><%- teacher.data.dagen_aanwezig[0].text -%><% } %></p>

                <% if(teacher.id){ %>
                <a class="moreInfo" href="/detail/<%- teacher.id -%>"
                  >Meer info<% } %></a
                >
              </div>
            </div>
            <button class="close">
              <div></div>
              <div></div>
              <p>Sluiten</p>
            </button>
          </div>
          <% }) %> <% docenten.forEach(teacher => { %>
          <a href="" class="teacherLink">
            <div class="images">
              <% if(teacher.data.frame !== null){ %>
              <img
                class="frame"
                src="/images/frames/<%- teacher.data.frame%>.png"
              />
              <% } %>
              <img class="teacher" src="<%- teacher.data.foto.url %>" />
            </div>
            <h4>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h4>
          </a>

          <div class="pop-up hidden">
            <h2>
              <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
              ctx.prismicH.asText(teacher.data.achternaam) %>
            </h2>
            <div class="popupWrapper">
              <div class="images">
                <img class="teacher" src="<%- teacher.data.foto.url %>" />
              </div>
              <div id="info">
                <% if(teacher.data.email.length > 0){ %>
                <h3>Email</h3>
                <p><%- teacher.data.email[0].text -%><% } %></p>

                <% if(teacher.data.telefoon_nummer.length > 0){ %>
                <h3>Beschrijving</h3>
                <p><%- teacher.data.telefoon_nummer[0].text -%><% } %></p>

                <% if(teacher.data.dagen_aanwezig.length > 0){ %>
                <h3>Aanwezig</h3>
                <p><%- teacher.data.dagen_aanwezig[0].text -%><% } %></p>

                <% if(teacher.id){ %>
                <a class="moreInfo" href="/detail/<%- teacher.id -%>"
                  >Meer info<% } %></a
                >
              </div>
            </div>
            <button class="close">
              <div></div>
              <div></div>
              <p>Sluiten</p>
            </button>
          </div>
          <% }) %>
        </section>
      </section>
      <%- include("./components/keyboard.ejs") -%>
    </main>
    <footer><%- include("./components/footer.ejs") -%></footer>

    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
