<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/head.ejs") -%>
  </head>
  <body>
    <header>
      <h1>CMDA Smoelenboek</h1>
      <h2>Ontmoet alle docenten</h2>
    </header>
    <main>
      <section id="aanwezig">
        <h2>Aanwezig</h2>
        <section class="docenten">
          <% today.forEach(teacher => { %>
          <a href="/detail/<%= teacher.docent.id %>" class="teacher-link">
            <img src="<%- teacher.docent.data.foto.url %>" />
            <h1><%- ctx.prismicH.asText(teacher.docent.data.naam) %></h1>
          </a>
          <% }) %>
        </section>
      </section>
      <section id="afwezig">
        <h2>Afwezig</h2>
        <section class="docenten">
          <% not_today.forEach(teacher => { %>
          <a href="/detail/<%= teacher.docent.id %>" class="teacher-link">
            <img src="<%- teacher.docent.data.foto.url %>" />
            <h1><%- ctx.prismicH.asText(teacher.docent.data.naam) %></h1>
          </a>
          <% }) %>
        </section>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
