<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/head.ejs") -%>
  </head>
  <body>
    <main>
      <section class="allTeachers">
        <h2><%-result-%></h2>
        <section class="docenten">
          <% docenten.forEach(teacher => { %>
          <a href="" class="teacherLink">
            <div class="images">
              <% if(teacher.docent.data.frame !== null){ %>
              <img
                class="frame"
                alt="<%- teacher.docent.data.frame%> lijstje"
                src="/images/frames/<%- teacher.docent.data.frame%>.png"
              />
              <% } %>
              <img
                class="teacher"
                alt="foto van <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
              ctx.prismicH.asText(teacher.docent.data.achternaam) %>"
                src="<%- teacher.docent.data.foto.url %>"
              />
            </div>
            <h3>
              <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
              ctx.prismicH.asText(teacher.docent.data.achternaam) %>
            </h3>
          </a>

          <div class="pop-up searchPop-up hidden">
            <button class="close">
              <div></div>
              <div></div>
              <p>Sluiten</p>
            </button>
            <h2>
              <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
              ctx.prismicH.asText(teacher.docent.data.achternaam) %>
            </h2>
            <div class="popupWrapper">
              <img
                alt="foto van <%- ctx.prismicH.asText(teacher.docent.data.naam) %> <%-
              ctx.prismicH.asText(teacher.docent.data.achternaam) %>"
                class="teacherImage"
                src="<%- teacher.docent.data.foto.url %>"
              />
              <div id="info">
                <% if(teacher.docent.data.email.length > 0){ %>
                <h3>Email</h3>
                <p><%- teacher.docent.data.email[0].text -%><% } %></p>

                <% if(teacher.docent.data.telefoon_nummer.length > 0){ %>
                <h3>Telefoonnummer</h3>
                <p>
                  <%- teacher.docent.data.telefoon_nummer[0].text -%><% } %>
                </p>

                <% if(teacher.docent.data.dagen_aanwezig.length > 0){ %>
                <h3>Beschikbaar op</h3>
                <p><%- teacher.docent.data.dagen_aanwezig[0].text -%><% } %></p>

                <% if(teacher.docent.id){ %>
                <a class="moreInfo" href="/detail/<%- teacher.docent.id -%>"
                  >Meer info<% } %></a
                >
              </div>
            </div>
          </div>
          <% }) %>
        </section>
      </section>
      <!-- if no search results  -->
      <section class="docenten">
        <% teachers.forEach(teacher => { %>
        <a href="" class="teacherLink">
          <div class="images">
            <% if(teacher.data.frame !== null){ %>
            <img
              class="frame"
              alt="<%- teacher.data.frame%> lijstje"
              src="/images/frames/<%- teacher.data.frame%>.png"
            />
            <% } %>
            <img
              class="teacher"
              alt="foto van <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
            ctx.prismicH.asText(teacher.data.achternaam) %>"
              src="<%- teacher.data.foto.url %>"
            />
          </div>
          <h3>
            <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
            ctx.prismicH.asText(teacher.data.achternaam) %>
          </h3>
        </a>

        <div class="pop-up searchPop-up hidden">
          <button class="close">
            <div></div>
            <div></div>
          </button>
          <h2>
            <%- ctx.prismicH.asText(teacher.data.naam) %> <%-
            ctx.prismicH.asText(teacher.data.achternaam) %>
          </h2>
          <div class="popupWrapper">
            <div class="images">
              <img class="teacher" src="<%- teacher.data.foto.url %>" />
            </div>
            <div id="info">
              <% if(teacher.data.email.length > 0){ %>
              <h3>Email</h3>
              <p><%- teacher.data.email[0].text -%><% } %></p>

              <% if(teacher.data.telefoon_nummer.length > 0){ %>
              <h3>Telefoonnummer</h3>
              <p><%- teacher.data.telefoon_nummer[0].text -%><% } %></p>

              <% if(teacher.data.dagen_aanwezig.length > 0){ %>
              <h3>Aanwezig op</h3>
              <p><%- teacher.data.dagen_aanwezig[0].text -%><% } %></p>

              <% if(teacher.id){ %>
              <a class="moreInfo" href="/detail/<%- teacher.id -%>"
                >Meer info<% } %></a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </section>
      <%- include("./components/keyboard.ejs") -%>
    </main>
    <footer>
      <section class="catButtons">
        <a href="/catalog" id="catalogButton">
          <img src="/images/index.png" />Catalogus</a
        >
        <a href="/" id="gridButton"> <img src="/images/grid.png" />Grid</a>
      </section>
      <%- include("./components/search.ejs") -%>
      <form method="get" action="/filterSearch">
        <select id="category" name="category" onchange="this.form.submit()">
          <option value="" disabled selected>Specaliteit</option>
          <option value="Tech">Tech</option>
          <option value="UI">UI</option>
          <option value="Vormgeving">Vormgeving</option>
          <option value="Interactie">Interactie</option>
          <option value="Projecten">Projecten</option>
          <option value="Cultuur">Cultuur</option>
          <option value="Staff">Staff</option>
        </select>
      </form>
      <nav>
        <button class="scrollButton" onClick="up()">▲ Omhoog</button>
        <button class="scrollButton" onClick="down()">▼ Omlaag</button>
      </nav>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <script src="/js/client.js"></script>
  </body>
</html>
